{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block style %}
{% endblock %}
{% block header %}
<h3>WHUbook</h3>
{% endblock %}
{% block content %}
<div class="jumbotron col-md-10 col-md-offset-1">
  <h3>这里是武汉大学研修室接口</h3>
</div>
<div class='panel panel-default col-md-10 col-md-offset-1'>
    <div class='panel-body'>
        <!-- 查询操作 -->
        <form id="checkForm" method="POST">
            <div class="form-group input-group">
                <span class="input-group-addon" id="basic-addon_year">年</span>
                <input type="text" name="year" class="form-control" placeholder="留空为当年" aria-describedby="basic-addon_year">
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon" id="basic-addon_month">月</span>
                <input type="text" name="month" class="form-control" placeholder="留空为当月,超过12会查询当天" aria-describedby="basic-addon_month">
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon" id="basic-addon_day">日</span>
                <input type="text" name="day" class="form-control" placeholder="留空为当天,超过当月最大日期会显示当月最后一天的查询结果" aria-describedby="basic-addon_day">
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon" id="basic-addon_region">区</span>
                <input type="text" name="region" class="form-control" placeholder="必填,1为文理学部,2为医学部,3为医学部" aria-describedby="basic-addon_region">
            </div>
            <div class="btn-group btn-group-lg">
                <button class="btn btn-default" type="submit">查询空闲研修室</button>
            </div>
        </form>
        <br/>
        <div class='panel-body' id='infoBox'>
        </div>
        <!-- 预约操作 -->
        <form id="orderForm" method="POST">
            <div class="form-group input-group">
                <span class="input-group-addon" id="basic-addon_room">房间号</span>
                <input type="text" name="room" class="form-control" placeholder="从查询结果获得" aria-describedby="basic-addon_room">
            </div>
            <!-- Text input-->
            <div class="form-group input-group">
                <span class="input-group-addon" id="basic-addon_time">时间段</span>
                <input type="text" name="time" class="form-control" placeholder="8:00~11:30:1 11:30~15:00:2  15:00~18:30:3 18:30~22:00:4" aria-describedby="basic-addon_time">
            </div>
            <!-- <div class="form-group input-group">
                <span class="input-group-addon" id="basic-addon1">电话</span>
                <input type="text" name="tel" class="form-control" placeholder="可不填" aria-describedby="basic-addon1">
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon" id="basic-addon1">预约描述</span>
                <input type="text" name="description" class="form-control" placeholder="可不填" aria-describedby="basic-addon1">
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon" id="basic-addon1">邮箱</span>
                <input type="text" name="email" class="form-control" placeholder="随便填" aria-describedby="basic-addon1">
            </div> -->
            <div class="btn-group btn-group-lg">
                <button class="btn btn-default" type="submit">预约</button>
            </div>
        </form>
        <div class='panel-body' id='roomBox'>
        </div>
        <form id="cancelForm" method="POST">
            <button class="btn btn-default" type="submit">取消预约</button>
        </form>
        <br/>
        <form id="roomidForm">
            <button class="btn btn-default" type="submit">查询预约房间号</button>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function() {
    $('#checkForm').submit(function() {  
        //ajax 提交表单  
        var $this = $(this);
        $.post('check/',  
            $this.serialize(),
            function(data) { 
                if(data['status']) {
                    if($("input[name='region']").val() == '1'){
                        // console.log($("input[name='region']").val());
                        var htmlstr='<div class="table-responsive"><table class="table alert alert-info" role="alert">';
                        htmlstr += '<thead><tr><th>Time</th>';
                        for(var region in data['info']){
                            htmlstr += '<th>' + region + '</th>';
                        }
                        for(var i = 1; i < 5; i ++){
                            htmlstr += '</tr></thead><tbody><tr><th scope="row">' + i + '</th>';
                            for(var region in data['info']){
                                htmlstr += '<td>' + data['info'][region][i] + '</td>';
                            }
                            htmlstr += '</tr>';
                        }
                        htmlstr += '</tbody></table></div>';
                        $('#infoBox').html(htmlstr);
                    }else if($("input[name='region']").val() == '2'){
                        var htmlstr='<div class="table-responsive"><table class="table alert alert-info" role="alert">';
                        htmlstr += '<thead><tr><th>Time</th>';
                        for(var region in data['info']){
                            htmlstr += '<th>' + region + '</th>';
                        }
                        for(var i = 1; i < 3; i ++){
                            htmlstr += '</tr></thead><tbody><tr><th scope="row">' + i + '</th>';
                            for(var region in data['info']){
                                htmlstr += '<td>' + data['info'][region][i] + '</td>';
                            }
                            htmlstr += '</tr>';
                        }
                        htmlstr += '</tbody></table></div>';
                        $('#infoBox').html(htmlstr);
                    }else{
                        var htmlstr='<div class="table-responsive"><table class="table alert alert-info" role="alert">';
                        htmlstr += '<thead><tr><th>Time</th>';
                        for(var region in data['info']){
                            htmlstr += '<th>' + region + '</th>';
                        }
                        for(var i = 1; i < 5; i ++){
                            htmlstr += '</tr></thead><tbody><tr><th scope="row">' + i + '</th>';
                            for(var region in data['info']){
                                htmlstr += '<td>' + data['info'][region][i] + '</td>';
                            }
                            htmlstr += '</tr>';
                        }
                        htmlstr += '</tbody></table></div>';
                        $('#infoBox').html(htmlstr);
                    }
                }else{
                    var htmlstr='<div class="alert alert-danger" role="alert">'+data['info']['reason']+'</div>';
                    $('#infoBox').html(htmlstr);
                }
            });  
        return false;       //阻止表单提交  
    });
    $('#orderForm').submit(function() {  
        //ajax 提交表单  
        $.post('order/',  
            $('#orderForm').serialize(),
            function(data) { 
                if(data['status']) {
                    var htmlstr='<div class="alert alert-info" role="alert"><h4>预约结果</h4></br>成功,房间id为';
                    htmlstr += data['info'] + '</div>';
                    $('#roomBox').append(htmlstr);
                }else{
                    var htmlstr='<div class="alert alert-warning" role="alert">'+data['info']['reason']+'</div>';
                    $('#roomBox').append(htmlstr);
                }
            });  
        return false;       //阻止表单提交  
    }); 
    $('#cancelForm').submit(function() {  
        //ajax 提交表单  
        $.post('cancel/',  
            $('#cancelForm').serialize(),
            function(data) { 
                if(data['status']) {
                    var htmlstr='<div class="alert alert-info" role="alert"><h4>取消结果</h4></br>成功取消已预约研修室，房间id为';
                    htmlstr += data['info'] + '</div>';
                    $('#roomBox').append(htmlstr);
                }else{
                    var htmlstr='<div class="alert alert-warning" role="alert">'+data['reason']+'</div>';
                    $('#roomBox').append(htmlstr);
                }
            });  
        return false;       //阻止表单提交  
    }); 
    $('#roomidForm').submit(function() {  
        //ajax 提交表单  
        $.get('roomid/', {} ,
            function(data) { 
                if(data['status']) {
                    var htmlstr='<div class="alert alert-info" role="alert"><h4>查询结果</h4></br>已预约研修室，房间id为';
                    htmlstr += data['info'] + '</div>';
                    $('#roomBox').append(htmlstr);
                }else{
                    var htmlstr='<div class="alert alert-warning" role="alert">'+data['reason']+'</div>';
                    $('#roomBox').append(htmlstr);
                }
            });  
        return false;       //阻止表单提交  
    });
});
</script>
{% endblock %}
